<div class="product-generator">
    <h2>Add a Product</h2>
    <p>Use the products generator below to create a custom product.</p>
    <form action="/create-product" method="post" class="add-product-form">
        <label for="template">Template:</label>
        <select id="template" name="template">
            <option> Google Snapback Black Cap</option>
            <option> YouTube Icon Pullover Black</option>
            <option> Google Light Pen Yellow </option>
            <option> Google Tee Yellow</option>
            <option> Google Twill Cap</option>
            <option> Android 25 oz Gear Cap Bottle White</option>
        </select><br>
        <label for="channel">Channel:</label>
        <select id="channel" name="channel">
            <option> online </option>
            <option> local </option>
        </select><br>
        <label for="language">Language:</label>
         <select id="language" name="language">
            <option>en</option>
            <option disabled>fr</option>
            <option disabled>jp</option>
            <option disabled>de</option>
            <option disabled>it</option>
            <option disabled>es</option>
            <option disabled>pt</option>
            <option disabled>cn</option>
        </select><br>
        <label for="country">Country:</label>
         <select id="country" name="country">
            <option>US</option>
            <option disabled>CH</option>
            <option disabled>FR</option>
            <option disabled>JP</option>
            <option disabled>DE</option>
            <option disabled>IT</option>
            <option disabled>ES</option>
            <option disabled>BR</option>
            <option disabled>PT</option>
            <option disabled>ZH</option>
        </select><br>
        <label for="description">Description:</label>
        <input placeholder="Bored? Try out our new hats!" type="text" id="description" name="description"><br>
        <label for="price">Price in USD:</label>
        <input placeholder="30" type="text" id="price" name="price"><br>
        <label for="keywords">Keywords:</label>
        <input placeholder="hat, comfy, warm" type="text" id="keywords" name="keywords"><br>
        <label for="add-category">Category:</label>
        <select id="add-category" name="add-category">
            <option>apparel</option>
            <option>accessories</option>
            <option>bags</option>
            <option>drinkware</option>
            <option>office</option>
            <option>brand</option>
        </select><br>
        <label for="add-subcategory">Subcategory:</label>
         <select id="add-subcategory" name="add-subcategory">
            <option>apparel</option>
            <option>accessories</option>
            <option>bags</option>
            <option>drinkware</option>
            <option>office</option>
            <option>brand</option>
        </select><br>
       <label for="brand">Brand:</label>
         <select id="brand" name="brand">
            <option>Google</option>
            <option>Nest</option>
            <option>Youtube</option>
            <option>Android</option>
            <option>Waze</option>
        </select><br>
        <button id="submit-product" type="submit">Create a Product!</button>
    </form>
</div>